.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.success {
  color: var(--color-success);
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.icon {
  color: var(--color-icon);
}

.transparent {
  color: var(--color-transparent);
}

.tertiary {
  color: var(--color-tertiary);
}
