/* 
mixin аналог функции в js, т.е все содержимое миксина развернется в месте вызова @include

Конечный результат будет выглядеть, как показано ниже

@mixin baseFont {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;

  &--regular {
    font-weight: 400 !important;
  }

  &--medium {
    font-weight: 500 !important;
  }

  &--bold {
    font-weight: 600 !important;
  }
}


@mixin text-main {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;

  &--regular {
    font-weight: 400 !important;
  }

  &--medium {
    font-weight: 500 !important;
  }

  &--bold {
    font-weight: 600 !important;
  }

  font-size: 16px;
  line-height: 125%;
}


Чтобы использовать класс нужно написать базовый класс, т.е .text-main, если нужно указать жирность текста, то использовать модификатор, например .text-main--bold
*/

@mixin baseFont {
  //то, что используется везде
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin: 0;

  @include weightFont();
}

@mixin weightFont {
  &--regular {
    font-weight: 400 !important;
  }

  &--medium {
    font-weight: 500 !important;
  }

  &--bold {
    font-weight: 600 !important;
  }
}

@mixin text-main {
  @include baseFont();

  font-size: 16px;
  line-height: 125%;
}

@mixin caption {
  @include baseFont();

  font-size: 12px;
  line-height: 133%;
}

@mixin text {
  @include baseFont();

  font-size: 14px;
  line-height: 129%;
}
