:root {
  // Цвета
  --color-primary: #fff;
  --color-secondary: #8babd8;
  --color-tertiary: #f5f5f5;
  --color-success: #78e378;
  --color-black: #000;
  --color-white: #fff;
  --color-icon: #707991;
  --color-transparent: rgba(0, 0, 0, 0);

  // Анимация
  --transition-speed: 0.15s;
  --transition-function: ease-in-out;
}
